:root {
  --prusianblue: #12355b;
  --raisinblack: #272727;
  --glaucous: #507dbc;
  --mintcream: #f4fff8;
  --powterblue: #8baaad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--raisinblack);
}

body {
  display: flex;
  flex-direction: column;
}

#header-img {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
}

.logo a {
  text-decoration: none;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.nav-link {
  list-style: none;
  display: inline-block;
  padding: 0 2vw;
  font-weight: 500;
}

.nav-link-a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.nav-link-a:hover {
  transition: all 0.3s ease 0s;
  color: var(--glaucous);
}

.main-content {
  padding-top: 10vh;
}

.div-first {
  text-align: center;
  background-color: var(--glaucous);
  padding: 5vh 0;
}

.div-first h2 {
  color: var(--mintcream);
}

.art-features {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--powterblue);
  margin-top: 0.9vh;
  /* align-items: center; */
}

.art-features section {
  max-width: 25vw;
  text-align: center;
  padding: 6vh 0;
  /* vertical-align: top; */
}

.art-features section i {
  font-size: 2rem;
}

.art-features section h2 {
  margin: 1.6vh 0;
}

.sect-vid {
  background-color: var(--prusianblue);
  text-align: center;
  margin-top: 0.9vh;
  padding: 6vh 0;
}

.sect-vid h2 {
  color: var(--mintcream);
  margin-bottom: 3vh;
}

.art-price {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.9vh;
  padding: 6vh 0;
  background-color: var(--mintcream);
}

.art-price section {
  border: 1px solid var(--raisinblack);
  max-width: 25vw;
  text-align: center;
  padding: 33px;
}

.art-price section h2,
.art-price section p,
.cta-price {
  margin-top: 1.3vh;
}

.cta-price {
  background-color: var(--glaucous);
  color: var(--mintcream);
  border: 1px solid var(--raisinblack);
  border-radius: 6px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}

.sect-form {
  background-color: var(--glaucous);
  text-align: center;
  margin-top: 0.9vh;
  padding: 6vh 0;
}

.sect-form h2 {
  margin-bottom: 3vh;
}

input[type="email"] {
  padding: 10px;
  width: 330px;
  /* border-radius: 6px; */
  border: 1px solid var(--raisinblack);
  font-weight: 500;
}

input[type="submit"] {
  padding: 10px;
  text-transform: capitalize;
  /* border-radius: 6px; */
  border: 1px solid var(--raisinblack);
  background-color: var(--prusianblue);
  color: var(--mintcream);
  font-weight: 500;
  cursor: pointer;
}

#form {
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--raisinblack);
  margin-top: 0.9vh;
  /* margin: 0.9vh 6vw 0; */
  padding: 2vh 2vw;
  text-align: end;
}

footer li {
  display: inline-block;
  padding: 0 2vw;
  text-transform: capitalize;
  /* background-color: red; */
}

footer a {
  text-decoration: none;
}

footer i {
  padding: 0 1vw;
  font-size: 1.2rem;
}

footer p,
footer i,
footer a {
  color: var(--mintcream);
}

.footer-down {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  padding: 0 2vw;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .nav-link {
    /* list-style: none; */
    /* display: inline-block; */
    padding: 0 1vw;
    /* font-weight: 500; */
  }

  .nav-link-a {
    /* text-decoration: none; */
    /* text-transform: capitalize; */
    font-size: 1.1rem;
  }

  .sect-vid h2 {
    /* color: var(--mintcream); */
    /* margin-bottom: 3vh; */
    margin: 0 10vw 3vh;
  }

  .art-price {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin-top: 0.9vh;
    padding: 6vh 0 0;
    /* background-color: var(--mintcream); */
  }

  .art-price section {
    /* border: 1px solid var(--raisinblack); */
    max-width: 50vw;
    margin-bottom: 6vh;
    /* text-align: center; */
    /* padding: 33px; */
  }
}
